<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}OpenIRC{{/link-to}}
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'index'}}TODO{{/link-to}}</li>
    </ul>
  </div>
</nav>
{{yield}}
