<div class="panel panel-default" style="max-height: 100vh">
  <div class="panel-body">
    <div class="header" style="min-height: 2vh; max-height: 2vh">
    <h2>Users Online</h2>
    <hr />
    </div>
    <div class="context" style="overflow-y: auto; min-height: 80vh; max-height: 80vh">
      {{#each model as |record|}}
        <p>{{record}}</p>
      {{/each}}
    </div>
  </div>
</div>
{{yield}}
